<h3>
    Current Recipe
</h3>
<hr>
<div>
    <div>
        <input type="text" [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)">
        <p>{{ searchTerm() }}</p>
    </div>
    @for (recipe of filteredRecipes(); track $index; let i = $index) {
    <button (click)="setRecipe(recipe)">
        @if (recipe.isFavorite) {
        <span>
            ★
        </span>
        }
        {{ recipe.name }}
    </button>
    }
    <app-recipe-detail [recipe]="currentRecipe()"></app-recipe-detail>
</div>