#screen {
    min-height: 100dvh;
    display: grid;
    grid-template-areas:
        "header header header"
        "navbar navbar navbar"
        "sidebar main main"
    ;
    grid-template-rows: 0.5fr 0.5fr 4fr;
    transition: grid-template-columns 0.2s ease, transform 0.4s ease-in-out;
    color: var(--color-white);
}

.collapse-sidebar {
    grid-template-columns: 0.1fr 1fr 1fr;
}

.non-collapse-sidebar {
    grid-template-columns: 0.4fr 1fr 1fr;
}

#main {
    background: var(--color-white);
    grid-area: main;
    color: var(--color-dark);
}

@media (max-width: 768px) {
    .non-collapse-sidebar {
        grid-template-columns: 0.1fr 1fr 1fr;
    }
}