<div id="screen" [ngClass]="isSidebarCollapse() ? 'collapse-sidebar' : 'non-collapse-sidebar'">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <app-sidebar [setUserRole]="userRole()" [setIsSidebarCollapse]="isSidebarCollapse()"
        (handleOnClickCollapse)="toogleSidebarCollapse()"></app-sidebar>
    <div id="main">
        <div>
            <button (click)="changeUserRole('admin')">
                admin
            </button>
            <button (click)="changeUserRole('normal')">
                normal
            </button>
        </div>
        <ng-content></ng-content>
    </div>
</div>