.card-border {
    box-sizing: border-box;
    padding: 0.6em;
    min-height: 100dvh;
    background: rgb(49, 49, 49);
}

.card-content {
    height: 100%;
    background: rgb(235, 128, 29);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1em 1em 0.5em 1em; // QUESTION
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;

}

.title {
    flex: 2;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0.1em 0.7em;
    align-items: center;
    box-shadow:
        3px 5px 3px rgb(0, 0, 0),
        -3px -5px 3px rgb(106, 106, 106);
}

.title__attribute {
    background-image: url('/icons/dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stars {
    flex: 1;
    margin: 0 var(--card-middle-margin);
    display: flex;
    justify-content: right;
    padding: 0.3em 0em;
    gap: 3px;
}

.star {
    display: block;
    max-height: 1.2em;
}

.image-container {
    flex: 5;
    display: flex;
    margin: 0 var(--card-middle-margin);
    padding: 0.4em;
    background: rgb(49, 49, 49);
}

.image {
    flex: 1;
    background-image: url('/images/BlackMagician.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.footer-container {
    flex: 3;
    display: block;
    padding: 0.4em 0.4em;
    margin: 0.4em 0 0 0;
    background: rgb(167, 59, 2);
}

.footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 7px;
    background: rgb(253, 174, 101);
    padding: 0.2em;
}


.type {
    flex: 1;
}
.effect {
    flex: 5;
}
.stats {
    flex: 1;
    text-align: right;
}

.strong-border {
    border: 3.5px solid;
}

.medium-border {
    border: 3px solid;
}

.thin-border {
    border: 2px solid;
}

.cyan-border {
    border-color: rgb(44, 238, 238);
}

.magent-border {
    border-color: rgb(186, 11, 148);
}