<div class="card-border">
    <div class="card-content">
        <div class="header-container">
            <div class="title">
                <div>
                    Black Magician
                </div>
                <div class="title__attribute">
                </div>
            </div>
            <div class="stars ">
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
                <img class="star" src="/images/red_start.svg" />
            </div>
        </div>
        <div class="image-container">
            <div class="image"></div>
        </div>
        <div class="footer-container">
            <div class="footer">
                <div class="type">
                    <strong>
                        [Lanzador de Conjuros/Efecto]
                    </strong>
                </div>
                <div class="effect">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias optio possimus labore voluptate, eius ab magnam quae deserunt sapiente dolorem voluptatum nam eligendi vero similique assumenda cum, placeat perspiciatis sed?
                </div>
                <div class="stats">
                    <strong>
                        ATK/2500 DEF/2100
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>