.card-container {
    box-sizing: border-box;
    padding: 0.6em;
    background: rgb(49, 49, 49);
    display: flex;
    color: rgb(14, 14, 14);
}

.card-content {
    background: rgb(235, 128, 29);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 0.5em 0.2em 0.5em; // QUESTION
}

.header-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
}

.title {
    flex: 2;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 0.1em 0.7em;
    align-items: center;
    text-transform: capitalize;
    box-shadow:
        3px 5px 3px rgb(0, 0, 0),
        -3px -5px 3px rgb(106, 106, 106);
}

.title__attribute {
    background-image: url('/icons/dark.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1.2em;
    width: 1.2em;
}

.stars {
    flex: 1;
    margin: 0 var(--card-middle-margin);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    direction: rtl;
    padding: 0.3em 0em;
    gap: 3px;
}

.star {
    display: block;
    max-height: 0.5em;
}

.image-container {
    flex: 6;
    display: flex;
    margin: 0 var(--card-middle-margin);
    padding: 0.4em;
    background: rgb(49, 49, 49);
}

.image {
    flex: 1;
    height: 100px;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
}

.footer-container {
    flex: 3;
    padding: 0.4em 0.4em;
    margin: 0.4em 0 0 0;
    background: rgb(167, 59, 2);
}

.footer {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 7px;
    background: rgb(253, 174, 101);
    box-sizing: border-box;
    padding: 0.2em;
    font-size: 1em;
}


.type {
    flex: 1;
    font-size: 0.5em;
}

.effect {
    flex: 5;
    font-size: 0.5em;
}

.stats {
    flex: 1;
    text-align: right;
    font-size: 0.5em;
    border-top: 2px rgb(28, 28, 28) solid;
}

.strong-border {
    border: 3.5px solid;
}

.medium-border {
    border: 3px solid;
}

.thin-border {
    border: 2px solid;
}

.cyan-border {
    border-color: rgb(44, 238, 238);
}

.magent-border {
    border-color: rgb(186, 11, 148);
}

.card-container {
    container-type: inline-size;
}

@container (min-width: 100px) {
    .card-container .image-container {
        flex: 3;
    }

    .card-container .image {
        height: 7em;
    }

    .title {
        font-size: 0.7em;
    }

    .type {
        font-size: 0.4em;
    }

    .effect {
        font-size: 0.5em;
    }

    .stats {
        font-size: 0.3em;
    }
}


@container (min-width: 50px) {
    .card-container div {
        padding: 0.1em;
        word-break: break-all;
    }

    .card-container .image-container {
        flex: 3;
    }

    .card-container .image {
        height: 3em;
    }

    .title {
        font-size: 0.1em;
    }

    .type {
        font-size: 0.1em;
    }

    .effect {
        font-size: 0.1em;
    }

    .stats {
        font-size: 0.2em;
    }
}