.card-zone {
    background: rgb(240, 240, 240, 0.7);
    height: 100%;
    display: flex;
    padding: 3px;
    box-sizing: border-box;
}

.card-space {
    word-break: break-all;
    flex: 1;
    background: rgba(63, 7, 63, 0.886);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(240, 240, 240);
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.908);
}

.no-border {
    border: 0px;
    padding: 0px;
}

.internal-full-width {
    width: 100%;
}
.no-internal-full-width {
    width: 90%;
}

