.card-zone {
    background: rgba(240, 240, 240, 0.521);
    height: 100%;
    display: flex;
    padding: 3px;
    box-sizing: border-box;
}

.card-space {
    word-break: break-all;
    flex: 1;
    background: rgba(63, 7, 63, 0.81);
    color: rgb(240, 240, 240);
}

.card-space-onlytext {
    display: flex;
    justify-self: center;
    align-self: center;
}

.border {
    border: 2px solid rgba(0, 0, 0, 0.908);
}

.no-border {
    border: 0px;
    padding: 0px;
}

.internal-full-width {
    width: 100%;
}
.no-internal-full-width {
    width: 90%;
}

