/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-blue: #0b2857;
    --color-white: #f8fafc;
    --color-dark: #0f172a;
}