<div class="board">
    <div class="player-board" [ngStyle]="{ 'background-image': 'url(' + player1Background() + ')' }">
        <div class="deck-zone thin-form-zone">
            <app-card-zone [name]="'deck-zone'">
            </app-card-zone>
        </div>
        <div class="blue-pendulum-zone thin-form-zone">
            <app-card-zone [name]="'blue-pendulum-zone'">
            </app-card-zone>
        </div>
        <div class="graveyard-zone thin-form-zone">
            <app-card-zone [name]="'graveyard-zone'">
            </app-card-zone>
        </div>
        <div class="banish-zone thin-form-zone">
            <app-card-zone [name]="'banish-zone'" [card]="(firstCard$ | async) || undefined">
            </app-card-zone>
        </div>
        <div class="monster-zone">
            <app-monster-zone-field>
            </app-monster-zone-field>
        </div>
        <div class="special-deck-zone thin-form-zone">
            <app-card-zone [name]="'special-deck-zone'">
            </app-card-zone>
        </div>
        <div class="red-pendulum-zone thin-form-zone">
            <app-card-zone [name]="'red-pendulum-zone'">
            </app-card-zone>
        </div>
        <div class="field-zone thin-form-zone">
            <app-card-zone [name]="'field-zone'">
            </app-card-zone>
        </div>
    </div>
    <div class="player-board rotated-board" [ngStyle]="{ 'background-image': 'url(' + player2Background() + ')' }">
        <div class="deck-zone thin-form-zone">
            <app-card-zone [name]="'deck-zone'">
            </app-card-zone>
        </div>
        <div class="blue-pendulum-zone thin-form-zone">
            <app-card-zone [name]="'blue-pendulum-zone'">
            </app-card-zone>
        </div>
        <div class="graveyard-zone thin-form-zone">
            <app-card-zone [name]="'graveyard-zone'" [card]="(secondCard$ | async) || undefined">
            </app-card-zone>
        </div>
        <div class="banish-zone thin-form-zone">
            <app-card-zone [name]="'banish-zone'">
            </app-card-zone>
        </div>
        <div class="monster-zone">
            <app-monster-zone-field>
            </app-monster-zone-field>
        </div>
        <div class="special-deck-zone thin-form-zone">
            <app-card-zone [name]="'special-deck-zone'">
            </app-card-zone>
        </div>
        <div class="red-pendulum-zone thin-form-zone">
            <app-card-zone [name]="'red-pendulum-zone'">
            </app-card-zone>
        </div>
        <div class="field-zone thin-form-zone">
            <app-card-zone [name]="'field-zone'">
            </app-card-zone>
        </div>
    </div>
</div>