<div id="board">
    <div id="p2-board">
        <div id="p2-deck-zone">
            <app-card-zone [name]="'p2-deck-zone'">
            </app-card-zone>
        </div>
        <div id="p2-blue-pendulum-zone">
            <app-card-zone [name]="'p2-blue-pendulum-zone'">
            </app-card-zone>
        </div>
        <div id="p2-graveyard-zone">
            <app-card-zone [name]="'p2-graveyard-zone'">
            </app-card-zone>
        </div>
        <div id="p2-banish-zone">
            <app-card-zone [name]="'p2-banish-zone'">
            </app-card-zone>
        </div>
        <div id="p2-monster-zone">
            <app-monster-zone-field></app-monster-zone-field>
        </div>
        <div id="p2-special-deck-zone">
            <app-card-zone [name]="'p2-special-deck-zone'">
            </app-card-zone>
        </div>
        <div id="p2-red-pendulum-zone">
            <app-card-zone [name]="'p2-red-pendulum-zone'">
            </app-card-zone>
        </div>
        <div id="p2-field-zone">
            <app-card-zone [name]="'p2-field-zone'">
            </app-card-zone>
        </div>
    </div>
    <div id="p1-board">
        <div id="p1-deck-zone">
            <app-card-zone [name]="'p1-deck-zone'">
            </app-card-zone>
        </div>
        <div id="p1-blue-pendulum-zone">
            <app-card-zone [name]="'p1-blue-pendulum-zone'">
            </app-card-zone>
        </div>
        <div id="p1-graveyard-zone">
            <app-card-zone [name]="'p1-graveyard-zone'">
            </app-card-zone>
        </div>
        <div id="p1-banish-zone">
            <app-card-zone [name]="'p1-banish-zone'">
            </app-card-zone>
        </div>
        <div id="p1-monster-zone">
            <app-monster-zone-field></app-monster-zone-field>
        </div>
        <div id="p1-special-deck-zone">
            <app-card-zone [name]="'p1-special-deck-zone'">
            </app-card-zone>
        </div>
        <div id="p1-red-pendulum-zone">
            <app-card-zone [name]="'p1-red-pendulum-zone'">
            </app-card-zone>
        </div>
        <div id="p1-field-zone">
            <app-card-zone [name]="'p1-field-zone'">
            </app-card-zone>
        </div>
    </div>
</div>