.board {
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-board {
    padding: 1em;
    flex: 1;

    display: grid;
    grid-template-columns: 0.85fr 0.85fr 1fr 1fr 1fr 1fr 1fr 0.85fr 0.85fr;
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
        ". deck-zone monster-zone monster-zone monster-zone monster-zone monster-zone special-deck-zone ."
        ". red-pendulum-zone monster-zone monster-zone monster-zone monster-zone monster-zone blue-pendulum-zone ."
        "banish-zone graveyard-zone monster-zone monster-zone monster-zone monster-zone monster-zone field-zone ."
    ;
}

.rotated-board {
    transform: rotate(180deg);
}

.player-board {
    background-color: yellow;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.deck-zone {
    grid-area: deck-zone;
}

.blue-pendulum-zone {
    grid-area: blue-pendulum-zone;
}

.graveyard-zone {
    grid-area: graveyard-zone;
}

.banish-zone {
    grid-area: banish-zone;
}

.monster-zone {
    grid-area: monster-zone;
}

.special-deck-zone {
    grid-area: special-deck-zone;
}

.red-pendulum-zone {
    grid-area: red-pendulum-zone;
}

.field-zone {
    grid-area: field-zone;
}

.monster-zone {
    align-content: center;
}

.thin-form-zone {
    text-align: -webkit-center;
}

.rotated-board .deck-zone,
.rotated-board .graveyard-zone,
.rotated-board .monster-zone,
.rotated-board .field-zone,
.rotated-board .banish-zone,
.rotated-board .special-deck-zone,
.rotated-board .red-pendulum-zone,
.rotated-board .blue-pendulum-zone {
    transform: rotate(180deg);
}