<div id="monster-grid">
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
    <app-card-zone [name]="'Monster'"></app-card-zone>
</div>