<div id="monster-grid">
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
    <app-card-zone
        [name]="'Monster'"
        [isThereBorder]="false"
        [isThereInternalFullWidth]="true"
    ></app-card-zone>
</div>