/* src/styles.css */

/* Minimal reset for the whole app */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Angular's root component tag usually needs to fill the height too */
app-root {
    display: block;
    height: 100%;
}
#out-screen {
    background-color: cyan;
    height: 100vh;
    display: float;
    position: relative;
}


#screen {
    position: absolute;
    height: 70%;
    width: 70%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}


#main {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar {
    background: #58DBA9;
    flex-grow: 1;
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    background: #c4c4c4;
    flex: 10;
    padding: 1.5rem;
}


#navbar {
    // background: #58CCDB;
    background-color: #ba98f8;
    flex: 1;
}

#second-navbar {
    background: #881bbb;
    flex: 1;
}


.rectangule {
    background: #ef31ac;
}