/* .card {
    font-family: cursive;
    display: block;
    background: rgb(166, 147, 255);
} */

:host {
    font-family: cursive;
    display: block;
    background: rgb(166, 147, 255);
}

.title {
    padding: 15px;
    font-size: 1.3em;
}

.text {
    padding: 15px;
}